{% extends 'main.html' %}

{% block content %}
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width(500)
                    .height(500);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

{% if message %}
    <div class="alert alert-danger">{{ message }}</div>
{% endif %}

<div class="row" style="margin-bottom: 300px;">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <center><h1 style="color: #ffffff;">Pneumonia Predictor</h1></center>
        <div class="card card-body" style="border: 1px solid #444; background-color: #1e1e1e; color: #e0e0e0;">
            <center><h3>Please upload the X-Ray of the Person</h3></center>
            <form class="form-horizontal" action="{{ url_for('pneumoniapredictPage') }}" method="POST" enctype="multipart/form-data">
                <center>
                    <input onchange="readURL(this);" type="file" name="image" style="border: 1px solid #444; background-color: #333; color: #e0e0e0;" placeholder="Upload Image">
                    <br>
                    <br>
                    <img class="img-fluid" id="blah" src="#" alt="UPLOADED IMAGE WILL APPEAR HERE" style="max-width: 100%; height: auto;" />
                    <br>
                    <br>
                    <input class="btn btn-info" type="submit" style="background-color: #444; border: 1px solid #555; color: #e0e0e0;" value="Submit">
                </center>
            </form>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}
